### Javascript ###
src/main/resources/static/node_modules/
src/main/resources/static/build/
src/main/resources/static/spec.js
src/main/resources/static/spec.js.map

### Gradle ###
.gradle
build/
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

### IntelliJ ###
.idea
